    .animate-switch-container {
            position:relative;
            background:white;
            border:1px solid black;
            height:40px;
            overflow:hidden;
        }

        .animate-switch {
            padding:10px;
        }

        .animate-switch.ng-animate {
            -moz-transition: 325ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
            -ms-transition: 325ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
            -o-transition: 325ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
            transition: 325ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;

            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
        }

        .animate-switch.ng-leave.ng-leave-active,
        .animate-switch.ng-enter {
            top:-100px;
        }

        .animate-switch.ng-leave, .animate-switch.ng-enter.ng-enter-active {
            top:0;
        }

        .animate-slide-container {
            position:relative;
            background:white;
            overflow:hidden;
        }

        .animate-slide.ng-animate{
            -moz-transition: 325ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
            -ms-transition: 325ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
            -o-transition: 325ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
            transition: 325ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
        }

        .animate-slide.ng-leave.ng-leave-active,
        .animate-slide.ng-enter {
            left:100%;
        }

        .animate-slide.ng-leave, .animate-slide.ng-enter.ng-enter-active {
            left:0;
        }

