{% extends 'base.html' %}

{% load staticfiles %}
{% block title %} djanog ProjectM - Home {% endblock %}
{% block content_title %}<h2>  This is Main Page..  ========== for you .. !!  </h2>{% endblock %}

{% block content %}

<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.9/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.9/angular-animate.min.js"></script>
<script src="{%  static 'home/home.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />

   {# meal block #}
    <div>
        Featured <br />
        {% if meal_list %}

            <div ng-app="animateApp">

                <div ng-controller="slideCtrl">

                    <div class="btn-group" ng-init="quotemax= {{ meal_list.count }}">
                        {% for meal in meal_list %}
                            <button ng-click="quote={{ meal.id }};"> {{ meal.meal_name }}</button>
                        {% endfor %}

                    </div>

                    <div ng-switch on="quote" ng-animate="slide" class="animate-slide-container" >
                        {% for meal in meal_list %}
                            <div ng-switch-when="{{ meal.id }}" class="animate-slide">
                                <div >
                                    {{ meal.meal_name }} ::  <a href="{%  url 'meals:detail'  meal.id %}"> {{ meal.meal_desc }}  </a>
                                </div>
                                <div style="width:100%;height:500px;background-image: url('/images/{{ meal.photo }}');background-position: 0 0;background-size: 100% 100%;background-repeat: no-repeat;">
                                    <div style="position: relative;bottom: 0;color:red;">
                                    {% for dish in meal.dishes.all %}
                                        <li>{{ dish.dish_name }} -- {{ dish.dish_desc }} </li>
                                    {% endfor %}
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>




        {% else %}
            <p>No meals are available.</p>
        {% endif %}
    </div>

    <div style="clear: both;"></div>
    {# user block #}

    <div>

    {% if user.is_authenticated %}
        logged in
        {% if user.is_authenticated %}
            <!-- message -->
            {% load inbox %}
            {% inbox_count as my_var %}
            {% if my_var  %}
                New message : <a href="/messages/" >{{ my_var }} </a>
            {% else %}
                No New Message
            {% endif %}

        {% endif %}

    {% else  %} {# for Guest - not login user #}


            {# for Guest - sign in form #}

            <form action="/Accounts/signin/" method="post">
            {% csrf_token %}
              <fieldset>
                <label for="id_identification"> Username:</label>
                <input class="required" id="id_identification" maxlength="75" name="identification" type="text" />
                <label for="id_password">Password:</label>
                <input class="required" id="id_password" name="password" type="password" />
                <div class="checkbox">
                <label for="id_remember_me"><input id="id_remember_me" name="remember_me" type="checkbox" /> Remember me for a month</label>
                </div>
              </fieldset>
              <input type="submit" value="Signin" />
              <p class="forgot-password"><a href="/accounts/password/reset/" title="Forgot your password?">Forgot your password?</a></p>
              <p class="join"> not a member? <a href="/Accounts/signup/" title="Forgot your password?"> join </a></p>
            </form>

    {% endif %}

    </div>
{% endblock %}
