{% extends 'meals/meal_base.html' %}

{% block content_title %}<h1>{{ meal.meal_title }}</h1>{% endblock %}
{% block meal-content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    {% if meal.photo %}
        <dd> <img src="/images/{{ meal.photo }}" width="200px"/></dd>
    {% endif %}
    <dt> Desc </dt>
    <dd> {{ meal.meal_desc}} </dd>
    <dt> Owner </dt>
    <dd>{{ meal.owner}}</dd>
    <dt> Meal Type </dt>
    <dd>{{ meal.meal_type}}</dd>
    <dt> Featured </dt>
    <dd>{{ meal.featured}}</dd>



{% for dish in meal.dish_set.all %}
    <li>
        <a href="{%  url 'meals:dish'  meal.id %}">{{ dish.dish_title}}</a><br />
        {{ dish.dish_desc }} <br />
            {{ dish.photo }}

    </li>
{% endfor %}


{% endblock %}