{% extends 'meals/meal_base.html' %}

{% block meal-content %}
    {% if latest_meal_list %}
        <ul>
        {% for meal in latest_meal_list %}
            <li>{{ meal.meal_name }} ::
                <a href="{%  url 'meals:detail'  meal.id %}"> {{ meal.meal_desc }}  </a>
                {% if meal.photo %}
                        <dd> <img src="/images/{{ meal.photo }}" width="200px" height="200px"/></dd>
                {% endif %}
                <ul>
                {% for dish in meal.dishes_set.all %}
                    <li>{{ dish.dish_name }} -- {{ dish.dish_desc }} </li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No meals are available.</p>
    {% endif %}
{% endblock %}